body {
    font-family: 'Hanken Grotesk', sans-serif;
    min-height: 100vh;
    text-align: center;
    display: grid;
    align-content: space-between;
    margin: 0;
}

h1 {
    font-size: medium;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: auto;
}

.result-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 300px;
    height: 400px;

    border-radius: 25px;

    background: linear-gradient(to bottom, #7857ff, #694cf9, #5941f4, #4736ee, #2e2be9);
}

.summary-card {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 300px;
    height: 400px;

    border-radius: 25px;

    box-shadow: 9px 20px 55px -13px rgba(84, 84, 84, 0.25);

    padding-left: 50px;
    margin-left: -30px;
}

.total-score {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 150px;
    height: 150px;

    border-radius: 100%;

    background: linear-gradient(to bottom, #4e21ca, #4621ca, #3d21ca, #3221ca, #2421ca);
}

.solo-score {
    display: flex;
}